{% extends "base.html" %}

{% block content %}
<main class="frontpage">
  <h1 class="title">
    Hi!
  </h1>
  <p>
  I’m Mehdi Ben Hadj Khelifa,a systems programmer,a kernel contributor and a member of the <a href="https://discord.com/invite/QY66HGvfAe">techleef community</a>.
  <br>I’m currently pursuing a professional masters degree in IOT 
    at the <a href="https://isetma.rnu.tn/">higher institute of technological studies mahdia</a> and I have recently graduated from the 
    Fall 2025 term of the <a href="posts/kernel-mentorship/">Linux Kernel Bug fixing Mentorship</a>.
  </p>
  <p>
    <a href="https://github.com/mehdibenhadjkhelifa">GitHub</a> / <a href="https://www.linkedin.com/in/mehdi-ben-hadj-khelifa-066840238/">Linkedin</a> 
  </p>
</main>
{% endblock content %}
